body {
  margin: 0;
  padding: 0;
  font-family: "Geometria-Bold", Helvetica, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 86.3vw;
  height: 83.3vh;
  margin: 8.4259vh auto 0;
  background: url("./res/webp/quiz-back.webp");
  background-size: cover;
  border-radius: 1.25rem;
}

.intro {

}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 35.648vh;
  margin-top: 20.74vh;
}


.text-header {


  width: 97.75rem;

  color: #FFF;
  text-align: center;

  font-size: 5.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.text-description {

  -webkit-text-stroke: 0.3px #ffffff;
  color: #ffffff;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}


.intro-btn {
  background-color: #79a1c6;
  border-radius: 20px;
  width: 555px;
  height: 114px;
  flex-shrink: 0;

  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.intro-fox {
  position: absolute;
  bottom: 0;
  right: 3.434vw;
  width: 39.72vh;
  height: 39.72vh;
  background-image: url("./res/webp/fox.webp");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

.quiz-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;

  margin-top: 7.592vh;
  margin-left: 4.797vw;
  gap: 2.129vh;
}

.quiz-container progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
}

.quiz-container progress {
  width: 76.46vw;
  height: 12px;
  /*border-radius: 20px;*/
  /*border: 2px solid #79A1C6;*/
  /*background: #79A1C6;*/

}

.quiz-container progress[value]::-webkit-progress-bar {
  background: #ECECEC;
  height: 6px;
  border-radius: 2px;
}


.result-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-top: 11.7592vh;
  margin-left: 4.739583vw;
}

.text-result {
  border-radius: 20px;
  background: #FFF;

  position: absolute;
  top: 14.814vh;
  left: 4.595vw;
  width: 88.03vw;
  height: 70.6481vh;

}

.text-result-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 14.44vh;
  margin-left: 46.717vw;
}

.result-container h1 {
  color: #497798;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.result-container p {
  color: #000;
  width: 35.9vw;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.result-btn {
  position: absolute;
  top: 80.370vh;
  left: 73.5859vw;
  background-color: #79a1c6;
  border-radius: 20px;
  height: 89px;
  width: 334px;
  color: #ffffff;

  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.img-result {
  border-radius: 20px;
  width: 76.851vh;
  height: 76.851vh;

  position: absolute;
  z-index: 2;
  top: 11.759vh;
  left: 4.596vw;
}


.img-elbrus {
  background-image: url("./res/webp/elbrus.webp");
  background-size: cover;
}

.img-arhiz {
  background-image: url("./res/webp/arhiz.webp");
  background-size: cover;
}

.img-veduci {
  background-image: url("./res/webp/veduci.webp");
  background-size: cover;
}

.img-caspi {
  background-image: url("./res/webp/caspi.webp");
  background-size: cover;
}

.img-mamison {
  background-image: url("./res/webp/mamison.webp");
  background-size: cover;
}

.finish-container {
}

.finish-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.finish-container h1 {
  margin-top: 13.05vh;
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.video-wrapper {
  border-radius: 13.545px;
  background: #FFF;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
  width: 86.36vw;
  height: 63.3vh;
  flex-shrink: 0;

  color: #C8C8C8;
  text-align: center;
  font-size: 79.151px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.finish-btn {
  position: absolute;
  top: 80vh;
  left: 82.879vw;
  background-color: #79a1c6;
  border-radius: 20px;
  height: 9.259vh;
  width: 7.575vw;
  color: #ffffff;

  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}


/* Quiz Component */
.answerOptions {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 1.1111111111111112vw;
  height: 32.685185vh;
  width: 100%;
  padding: 0;
}


/* QuestionCount Component */
.questionCount {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

}

/* Question Component */
.question {
  color: #000;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* AnswerOption Component */
.answerOption {
  flex: 1 1 0;
  width: 0;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 24px */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}


.radioCustomLabel:hover, .radioCustomLabel:focus, .radioCustomLabel:active {
  background: #79A1C6;
  scale: 1.1;
  border: 5px solid #79A1C6;
}


.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  content: '';
  display: none;
}

.home-btn {

}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  display: none;
}

.labelImage {
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: inherit;
  /*background-image: url("./public/questions/q1/2.png ");*/
}

.labelText {
  height: 7.685vh;
  display: flex;
  align-items: center;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  width: 76.46vw;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
