@font-face {
  font-family: 'Geometria';
  src: local('Geometria Light'), local('Geometria-Light'),
  url('fonts/subset-Geometria-Light.woff2') format('woff2'),
  url('fonts/subset-Geometria-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
  url('fonts/subset-Geometria-LightItalic.woff2') format('woff2'),
  url('fonts/subset-Geometria-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
  url('fonts/subset-Geometria-ExtraBold.woff2') format('woff2'),
  url('fonts/subset-Geometria-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
  url('fonts/subset-Geometria-MediumItalic.woff2') format('woff2'),
  url('fonts/subset-Geometria-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
  url('fonts/subset-Geometria-BoldItalic.woff2') format('woff2'),
  url('fonts/subset-Geometria-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('fonts/subset-Geometria-Bold.woff2') format('woff2'),
  url('fonts/subset-Geometria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('fonts/subset-Geometria-Medium.woff2') format('woff2'),
  url('fonts/subset-Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Geometria';
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('fonts/subset-Geometria-Medium.woff2') format('woff2'),
  url('fonts/subset-Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Geometria, 'Geometria', Helvetica, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


.container {
  position: relative;
  width: 86.3vw;
  height: 83.3vh;
  margin: 8.4259vh auto 0;
  background: url("./res/webp/quiz-back.webp");
  background-size: cover;
  border-radius: 1.25rem;
}

.intro {

}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 35.648vh;
  margin-top: 20.74vh;
}


.text-header {


  width: 78.91vw;

  color: #FFF;
  text-align: center;

  font-size: 8.333vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.text-description {

  -webkit-text-stroke: 0.3px #ffffff;
  color: #ffffff;
  font-size: 4.81481481vh;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}


.intro-btn {
  background-color: #79a1c6;
  border-radius: 20px;
  width: 28.90625vw;
  height: 10.556vh;
  flex-shrink: 0;
  color: #FFF;
  font-size: 5.56vh; /*60px;*/
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}

.intro-fox {
  position: absolute;
  bottom: 0;
  width: 39.72vh;
  height: 39.72vh;
  background-image: url("./res/webp/fox-ani.webp");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.fox-position-r {
  right: 3.434vw;
}

.fox-position-l {
  left: 3.434vw;
  background-image: url("./res/webp/fox-load.webp") !important;
}

@media (max-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

.quiz-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;

  margin-top: 7.592vh;
  margin-left: 4.797vw;
  gap: 2.129vh;
  width: 76.46vw;
}

.quiz-container progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
}

.quiz-container progress {
  width: 76.46vw;
  height: 12px;
  /*border-radius: 20px;*/
  /*border: 2px solid #79A1C6;*/
  /*background: #79A1C6;*/

}

.quiz-container progress[value]::-webkit-progress-bar {
  background: #ECECEC;
  height: 6px;
  border-radius: 2px;
}


.result-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-top: 11.7592vh;
  margin-left: 4.739583vw;
}

.text-result {
  border-radius: 20px;
  background: #FFF;

  position: absolute;
  top: 14.814vh;
  left: 4.6vw;
  width: 88.03vw;
  height: 70.6481vh;

}

.text-result-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 9.259vh;
  margin-left: 46.717vw;
}

.result-container h1 {
  margin: 0;
  color: #497798;
  font-size: 4.814814814814815vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.result-container p {
  color: #000;
  width: 37.03125vw;
  font-size: 2.685vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.7154vw;
}

.btn-wrapper__video {
  bottom: 6.88889vh;
  left: 44.29464999999999vw;
}

.btn-wrapper__portal {
  bottom: 3.88889vh;
  left: 44.29464999999999vw;
}

.btn-wrapper__result {
  bottom: 8.88889vh;
  left: 48.8vw;
}

.result-btn {
  border-radius: 19.059px;
  border: 3px solid #497798;
  background: #FFF;
  border: none;
  width: 16.47vw;
  height: 7.85287vh;
  color: #497798;
  text-align: center;
  font-size: 2.11759259vh;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 22.87px */
}

.video-btn {
}

.portal-btn {
}

.home-btn__result {
  position: absolute;
  top: 65.37vh;
  right: 2.068617558vw;
}

.home-btn__quiz {
  position: absolute;
  bottom: -3.63vh;
  right: 40.7vw;
}

.home-btn {
  border: none;
  background-color: #79a1c6;
  border-radius: 20px;
  height: 8.24vh;
  width: 8.24vh;
  color: #ffffff;
}

.home-img {
  height: 60%;
  width: auto;
  padding: 6px;
}

.img-result {
  border-radius: 20px;
  width: 76.851vh;
  height: 76.851vh;

  position: absolute;
  z-index: 2;
  top: 11.759vh;
  left: 4.596vw;
}


.img-elbrus {
  background-image: url("./res/webp/elbrus.webp");
  background-size: cover;
}

.img-arhiz {
  background-image: url("./res/webp/arhiz.webp");
  background-size: cover;
}

.img-veduci {
  background-image: url("./res/webp/veduci.webp");
  background-size: cover;
}

.img-caspi {
  background-image: url("./res/webp/caspi.webp");
  background-size: cover;
}

.img-mamison {
  background-image: url("./res/webp/mamison.webp");
  background-size: cover;
}

.qr-wrapper {
  position: absolute;
  left: 46.717vw;
  bottom: 4vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.qr-img {

}

.qr-wrapper .qr-text {
  color: #497798;
  width: 18.6979vw;
  font-size: 2.222vh;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.finish-container {
}

.finish-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.finish-container h1 {
  margin-top: 13.05vh;
  color: #FFF;
  font-size: 6.481481vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.video-wrapper {
  border-radius: 13.545px;
  background: #FFF;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
  width: 86.36vw;
  height: 63.3vh;
  flex-shrink: 0;

  color: #C8C8C8;
  text-align: center;
  font-size: 7.314814vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.portal {
  margin-top: 6vh
}

.portal-wrapper {
  border-radius: 13.545px;
  background: #FFF;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
  width: 87.84vw;
  height: 85.6481vh;
  flex-shrink: 0;

  color: #C8C8C8;
  text-align: center;
  font-size: 7.314814vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}


/* Quiz Component */
.answerOptions {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 1.1111111111111112vw;
  height: 32.685185vh;
  width: 100%;
  padding: 0;
}


/* QuestionCount Component */
.questionCount {
  color: #000;
  font-size: 3.33vh;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

}

/* Question Component */
.question {
  color: #000;
  font-size: 4.81vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* AnswerOption Component */
.answerOption {
  flex: 1 1 0;
  width: 0;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #FFF;
  color: #000;
  text-align: center;
  font-size: 2.2222vh;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 24px */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}


.radioCustomLabel:hover, .radioCustomLabel:focus, .radioCustomLabel:active {
  background: #79A1C6;
  scale: 1.1;
  border: 5px solid #79A1C6;
}


.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  content: '';
  display: none;
}


.radioCustomButton:checked ~ .radioCustomLabel:before {
  display: none;
}

.labelImage {
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: inherit;
  /*background-image: url("./public/questions/q1/2.png ");*/
}

.labelText {
  height: 7.685vh;
  display: flex;
  align-items: center;
}

.labelText p {
  padding: 0 22px;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  width: 76.46vw;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
